.header{
    display: flex;
    justify-content: space-between;

}

.menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
    font-size: 18px;
   
}
.menu>li{
    cursor: pointer;
}
.menu>li:hover{
    color: orange;
    
    cursor: pointer;
}